<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaochao.dao.RuleDao">
    <resultMap id="rule" type="com.xiaochao.modal.Rule">
        <id property="ruleId" column="rule_id"/>
        <result property="ruleDes" column="rule_descrip"/>
        <result property="grade" column="grade"/>
        <result property="designId" column="designId"/>
    </resultMap>

    <insert id="upRule" >
        insert into rule(rule_descrip, grade, design_id) VALUE (#{ruleDes},#{grade},#{designId})
    </insert>

    <select id="getDesignAllRule" resultMap="rule">
        select rule_id, rule_descrip, grade, design_id from rule where design_id=#{designId}
    </select>

    <update id="updateRule">
        update rule
        <set>
            <if test="#{ruleDes}!=null">rule_descrip=#{ruleDes},</if>
            <if test="#{grade}!=null">grade=#{grade},</if>
            <if test="#{designId}!=null">design_id=#{designId}</if>
        </set>
        where rule_id=#{ruleId}
    </update>

    <delete id="deleteRule">
        delete from rule where rule_id=#{ruleId}
    </delete>


</mapper>